[submodule "bot/DenoUtils"]
	path = bot/DenoUtils
	url = https://github.com/BOLL7708/DenoUtils.git
[submodule "lib/SharedUtils"]
	path = lib/SharedUtils
	url = https://github.com/BOLL7708/SharedUtils.git
