:root {
    --bg-dark: hsl(0 0% 20%);
    --bg: hsl(0 0% 25%);
    --bg-light: hsl(0 0% 30%);

    --text-light: hsl(0 0% 95%);
    --text: hsl(0 0% 80%);
    --text-dark: hsl(0 0% 70%);

    --logo-filter: ;

    --primary: hsl(0 0% 50%);
    --secondary: var(--bg-light);
    --danger: red;
    --warning: yellow;
    --success: green;
    --info: cyan;
    --weak: 30%;
    --strong: 50%;

    --primary-weak: color-mix(in oklab, var(--bg-light), var(--primary) var(--weak));
    --primary-strong: color-mix(in oklab, var(--bg-light), var(--primary) var(--strong));
    --secondary-weak: color-mix(in oklab, var(--bg-light), var(--secondary) var(--weak));
    --secondary-strong: color-mix(in oklab, var(--bg-light), var(--secondary) var(--strong));
    --danger-weak: color-mix(in oklab, var(--bg-light), var(--danger) var(--weak));
    --danger-strong: color-mix(in oklab, var(--bg-light), var(--danger) var(--strong));
    --warning-weak: color-mix(in oklab, var(--bg-light), var(--warning) var(--weak));
    --warning-strong: color-mix(in oklab, var(--bg-light), var(--warning) var(--strong));
    --success-weak: color-mix(in oklab, var(--bg-light), var(--success) var(--weak));
    --success-strong: color-mix(in oklab, var(--bg-light), var(--success) var(--strong));
    --info-weak: color-mix(in oklab, var(--bg-light), var(--info) var(--weak));
    --info-strong: color-mix(in oklab, var(--bg-light), var(--info) var(--strong));

    --highlight: hsl(0 0% 100% / 20%);
    --highlight-weak: hsl(0 0% 100% / 5%);
    --shadow: hsl(0 0% 0% / 5%);

    --bg-gradient: linear-gradient(to bottom, var(--highlight), var(--highlight-weak) 3px, transparent 16px, transparent calc(100% - 16px), var(--shadow)),
    linear-gradient(to left, var(--shadow), transparent 16px, transparent calc(100% - 16px), var(--shadow));
    --box-shadow: 0px 3px 3px var(--shadow), 0px 6px 6px var(--shadow);
    --box-inset: inset 0px 3px 3px var(--shadow), inset 0px 6px 6px var(--shadow), 0px 3px 3px var(--highlight-weak);

    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;

    font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: hsl(0 0% 80%);
        --bg: hsl(0 0% 85%);
        --bg-light: hsl(0 0% 90%);

        --text-light: hsl(0 0% 5%);
        --text: hsl(0 0% 10%);
        --text-dark: hsl(0 0% 20%);

        --logo-filter: invert();

        --primary: white;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    color: var(--text);
}

a {
    color: var(--text-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--text-light);
    font-weight: normal;
    font-family: "Tourney", sans-serif;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    border: none;
}

.card {
    margin: 0;
    padding: 16px;
    background: var(--bg-gradient);
    background-color: var(--bg);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

input[type=text], input[type=password], input[type=number], span[contenteditable=true] {
    display: inline-block;
    background-color: var(--bg-dark);
    padding: 8px;
    border-radius: 8px;
    box-shadow: var(--box-inset);
    margin: 0 2px;
    color: var(--text);
    font-size: 100%;
}

/* TODO: Checkbox? */

button {
    color: var(--text-dark);
    padding: 6px 12px;
    margin: 4px 2px;
    border: none;
    background: var(--bg-gradient);
    background-color: var(--bg-light);
    border-radius: 120px;
    font-size: 100%;
    box-shadow: var(--box-shadow);
}

button:hover {
    color: var(--text-light);
}

#app {
    margin: 0;
    padding: 0;
}

fieldset[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

fieldset[disabled] button:hover {
    background-color: transparent;
}

/* region Colors */
.primary {
    background-color: var(--primary-weak);
}

.primary:hover {
    background-color: var(--primary-strong);
}

.secondary {
    background-color: var(--secondary-weak);
}

.secondary:hover {
    background-color: var(--secondary-strong);
}

.danger {
    background-color: var(--danger-weak);
}

.danger:hover {
    background-color: var(--danger-strong);
}

.warning {
    background-color: var(--warning-weak);
}

.warning:hover {
    background-color: var(--warning-strong);
}

.success {
    background-color: var(--success-weak);
}

.success:hover {
    background-color: var(--success-strong);
}

.info {
    background-color: var(--info-weak);
}

.info:hover {
    background-color: var(--info-strong);
}
/* endregion */