:root {
  --color-background: rgb(40 40 40);
  --color-box-background: rgb(50 50 50);
  --color-light: rgb(180 180 180);
  --color-dark: rgb(100 100 100);
  --color-darker: rgb(60 60 60);
  --color-text: rgb(225 225 225);

  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  border-radius: 4pt;
  box-shadow: inset 0 0 0 0 var(--color-light);
  color: var(--color-light);
  margin: 0 -2pt;
  padding: 0 2pt;
  text-decoration: none;
}
a:hover, button:hover, button:focus {
  background-color: var(--color-darker);
  animation: rainbow 1s linear infinite;
}

h1 {
  font-weight: normal;
  font-family: "Tourney", sans-serif;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

button {
  border: 1pt solid var(--color-light);
  border-radius: 10pt;
  padding: 5pt 10pt;
  margin: 0 5pt;
  font-size: 150%;
  background-color: transparent;
  color: var(--color-text);
  font-family: monospace;
  font-weight: bold;
}
fieldset[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
fieldset[disabled] button:hover {
  animation: none !important;
  background-color: transparent;
}

@keyframes rainbow {
  0% {
    filter: sepia(100%) saturate(10) hue-rotate(0deg);
  }
  100% {
    filter: sepia(100%) saturate(10) hue-rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {}
