:root {
  font-family: sans-serif;
  color-scheme: light dark; /* Read up on this, default dark mode? */
  font-synthesis: none; /* And this */
  text-rendering: optimizeLegibility; /* And this*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray: #808080;

  --color-header-bg: var(--color-gray);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* region Document */
header, main, footer {
  padding: 8pt;
}
/* endregion */
/* region Header */
header {
  width: 100%;
  flex: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--color-header-bg);
}
header .logo {
  width: 32pt;
  flex: 0;
}
header .menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 4pt;
}
header .menu a {
  padding: 4pt 8pt;
  border-radius: 10rem;
}
header .menu a:hover {
  background-color: black;
}
/* endregion */
/* region Main */
main {

}
/* endregion */
/* region Footer */
footer {

}
/* endregion */

a {
  color: white;
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
}
