:root {
  font-family: sans-serif;
  color-scheme: light dark; /* Read up on this, default dark mode? */
  font-synthesis: none; /* And this */
  text-rendering: optimizeLegibility; /* And this*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
}
